/* Fonts */

@font-face {
  font-family: 'OpenSansLight';
  src: url('../all-fonts/OpenSansLight/OpenSansLight.eot');
  src: url('../all-fonts/OpenSansLight/OpenSansLight.eot') format('embedded-opentype'),
       url('../all-fonts/OpenSansLight/OpenSansLight.woff2') format('woff2'),
       url('../all-fonts/OpenSansLight/OpenSansLight.woff') format('woff'),
       url('../all-fonts/OpenSansLight/OpenSansLight.ttf') format('truetype'),
       url('../all-fonts/OpenSansLight/OpenSansLight.svg#OpenSansLight') format('svg');
}


/* Colors */
:root {
  --white: #FFFFFF;
  --dullRed: #f2dede;
  --red: #e63e3e;
  --raspberry: #d14f72;
  --blue: #7fa9b8;
  --brightBlue: #3886cf;
  --grey: #cdcdcda1;
  --darkGrey: #838383a1;
  --green: #69b86f;
}


/* Global-css */
body {
  font-family: "OpenSansLight";
  font-size: 14px;
  background: url("../all-images/global-img/topBackground.jpg") no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 5px 20px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

button {
  cursor: pointer;
}

/* .mask {
  height: 100%;
  position: fixed;
  background-color: var(--white);
  top: 0;
  z-index: 5000;
  transition: 0.6s;
  align-items: center;
} */

/* .loader {
  width: 85px;
  height: 85px;
  border: 7px solid #007aff;
  border-radius: 50%;
  border-left-color: #62adff;
  border-bottom-color: #94c4f8;
  border-right-color: #ffffff;
  animation: loaderTop 0.8s linear infinite;
} */

/* @keyframes loaderTop {
  100% {
    transform: rotate(360deg);
  }
} */

/* .hide-loader-top {
  opacity: 0;
} */

